body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #cfcdcd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 92%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #8cb8e3;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #6da7e0;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #984f7b;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}


